# Gradle
.gradle/
build/
**/build/
local.properties

# Android
*.apk
*.aab
*.dex
*.class
captures/
.externalNativeBuild/
.cxx/

# IDE
.idea/
*.iml
.classpath
.project
.settings/
bin/

# OS
.DS_Store
Thumbs.db

# LibGDX
android/libs/
.sfx/
